<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 8</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="14">Back</a>
                <a id="next-link" href="16">Next</a> 
            </div>
            
            
            <img id="main-image" src="../img/sunrooms/15/1.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="../img/sunrooms/15/1.jpg">
                
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>