<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="1">Back</a>
                <a id="next-link" href="3">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/decd385241a18fb1fc0485d497fda789.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/decd385241a18fb1fc0485d497fda789.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5ca5f237e0036364e34b7406cb94f71c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ee5cdff408e50ee358b2ac117dcba9f8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/624f9dd0ffb64dd2d18af5d4d6c6bd9d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f5efd4dccce6575189e2199c7a917bf8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/80f21c85f44de2575268bcaad99d277b.jpg">
                
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>