<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 3</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="2">Back</a>
                <a id="next-link" href="4">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/a0a3e62dcf02e279c8d1718dc815ca23.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/a0a3e62dcf02e279c8d1718dc815ca23.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/42d5a1ac705e0f1a67eafbb8890549c2.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d73237052cfe1ec1e31ea919abbd3e57.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/a9e23462dfd05823334c1c026b25fad3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/2f20f333273b445f8b2447f1108f1b35.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/79da0b6afa8ec2d52e451748659df559.jpg">
                
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>