<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 4</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="3">Back</a>
                <a id="next-link" href="5">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/0ebd5877d4c7acea5e04fe081a2d021d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/0ebd5877d4c7acea5e04fe081a2d021d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6b34912b2061f2a597be204cc3e9f8b1.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d1bf8743a54e35f952022ddaec065bc6.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/2de0ee97ea4b34c7beb3a3e1ab588d57.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>