<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="4">Back</a>
                <a id="next-link" href="6">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/c5caf58b39f91136b0b6cb85bbc908aa.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/c5caf58b39f91136b0b6cb85bbc908aa.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/62a2ba4e060e419f4322254cf683151e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/68ba6fbf2042c5c52be1e09fde1a62b2.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6c48200fa06f01e3efaaa8ac1e373442.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/002045e44e4f3f41ffb2e7d3954ef3b4.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c078c7b5009eac2f10dc7437e82cfc20.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/af4936015fc45c02447e59a827e4f842.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/2e7bda1932dd80c788d2c6898cc5fdb8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/91aa8c2191974d6f3e31d4550aa1cec8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1239d15d9c264ed88d8fbbc777635cb8.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>