<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 6</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="5">Back</a>
                <a id="next-link" href="7">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/0e41e1cbd27cf5a332ab2570eae8ed62.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/0e41e1cbd27cf5a332ab2570eae8ed62.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c8137e3872b472f13d7ebd67e62b5aec.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/be676d3f1daa82bd271b8592f0dbf312.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/a9c3c435556c0f6c63c75115c44d2167.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c1a29d3469e8b1e805e47543fc324515.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/8c1b061ab40920dd872c654188e9395a.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ddda85237effc20b53c106558ef1386f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/bf83cbcb94106b61b1ffd1f17e90674b.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>