<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 7</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="6">Back</a>
                <a id="next-link" href="8">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/e14c415e54c1b04570d63dc1904c3922.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/e14c415e54c1b04570d63dc1904c3922.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e006c8fd7ddb91e2ab816387ae1c069f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0712d2bdd6c832dd0faef80757a84473.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/8a4153a3f102d42f3d9bfcce7f5bde29.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/9f055547395e64bc9071fc73906eedcc.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/96bb361b0e45e4e389e6eeefd4550a7c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/bdbcd62cb7a480bd8a2dc13e1e5820c9.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/b3329581a8c5ff9ab76a5cebeda6c38c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0b2dc72be70c753c05d0d582480c5dab.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/8323ee1d7f17b40232d38725a1626d24.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/14e670219c11105fbb5e7b681a580d50.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>