<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Sun Rooms - 8</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="7">Back</a>
                <a id="next-link" href="#">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/89d759bbf35eb90bb03d1c4bdac6454d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/89d759bbf35eb90bb03d1c4bdac6454d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/bef994c002246e4609e817bad852dec9.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ba36431101280cc3da54335739f3434b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6b4fdb03d27b4bbf5bab390c3c534fee.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/382e96a625e9c906be69d50bb9588107.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/93183d696e58eab1a9920f2a42b5e213.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6c4fb01e2c03324b1e41df87d1b49e65.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/3260a9e0e384fba72dc8d6efe6250ffb.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5c37195fcd9cd5242eb6f7fbbfda363c.jpg">
                
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>