        <footer>
            <div id="footer-grid-wrapper">
                <div id="company-info">
                    <p>Precision Patio Covers</p>
                    <p>Olympia, WA</p>
                    <p>(360) 559-0261</p>
                    <p>precisionpatiocovers@gmail.com</p>
                </div>    
                <div id="social-links">
                    <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
                    <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
                </div>
                <div id="footer-nav-links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/decks">Decks</a>
                    <a href="/sunrooms">Sun Rooms</a>
                    <a href="/covers">Patio Covers</a>
                    <a href="/pergolas">Pergolas</a>
                </div>
            </div>
            <p id="copyright-text">&copy;2018-2019 Precision Patio Covers</p>
        </footer>