        <section id="mobile-nav">
            <nav>
                <div id="contact-dropdown">
                    <button id="contact-button">Contact</button>   
                </div>
                <div id="nav-dropdown">
                    <img id="hamburger" src="https://i.gyazo.com/034096e82d19af8d40ab1ef29afedbdd.png" alt="Drop down menu icon.">
                </div>
                <div id="hidden-contact">
                    <p>Email: <a href="mailto:precisionpatiocovers@gmail.com">precisionpatiocovers@gmail.com</a></p>
                    <p>Phone: <a href="tel:+13605590261">(360) 559-0261</a></p>
                </div>
                <div id="hidden-links">
                        <div><a href="/">Home</a></div>
                        <div><a href="/about">About</a></div>
                        <div><a id="products-link-mob">Products</a></div>
                        <div id="hidden-products-mob">
                            <a href="/decks">Decks</a>
                            <a href="/sunrooms">Sun Rooms</a>
                            <a href="/covers">Covers</a>
                            <a href="/pergolas">Pergolas</a>
                        </div>
                </div>
            </nav>
            <section id="banner">
                <a href="/"><img id="logo" src="https://i.gyazo.com/979baec7ebd91fc9877e4fe2efedff2c.png" 
                alt="Company logo featuring a house frame with a sun and some trees in the background."></a>
                <a href="/"><h1>Precision Patio Covers</h1></a>
                <p>& Four Seasons Sun Rooms</p>
            </section>
        </section>
        
        <section id="pc-nav">
            <a href="/contact"><button id="action-button">Contact Now</button></a>
            <nav>
                <section id="banner">
                    <a href="/"><img id="logo" src="https://i.gyazo.com/979baec7ebd91fc9877e4fe2efedff2c.png"
                    alt="Company logo featuring a house frame with a sun and some trees in the background."></a>
                </section>
                <section id="company-name">
                    <a href="/"><h1>Precision Patio Covers</h1></a>
                    <p>& Four Seasons Sun Rooms</p>
                </section>
                <section id="nav-links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="" id="products-link-pc" onclick="return false;">Products</a>
                </section>
            </nav>
            <div id="hidden-products-pc">
                <a href="/decks">Decks</a>
                <a href="/sunrooms">Sun Rooms</a>
                <a href="/covers">Covers</a>
                <a href="/pergolas">Pergolas</a>
            </div>
        </section>