<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - About</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/about.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>

        <section id="about-section">
            <section id="about-1">
                <div>
                    <img src="https://i.gyazo.com/2ac27cb249a712511da45e07a0d19882.jpg">
                </div>
                <div>
                    <h2>Our Goal</h2>
                    <p class="about-paragraph">We pride ourselves on customer satisfaction by providing the best experience and installing top quality product lines to our home owners in the Puget Sound region. </p>
                    <p class="about-paragraph">Hi, I’m Benjamin, founder of Precision Patio Covers. Over the past thirteen years I’ve been in this industry building Patio Covers, Sun Rooms, Decks, and most major exterior home improvement projects. </p>
                </div>
            </section>
                        <p class="about-paragraph">I understand and have seen it all to know that great work ethics is paramount. I implement this rule of thumb into the company and it shows a tremendous amount, from the finished job results to the very happy friends and customers we meet through out the years. </p>
            <p class="about-paragraph">We work one on one, go over project details, and thoroughly communicate with individuals to ensure a well thought out plan with the highest level of performance. And with that all in mind, you can trust that here at Precision Patio Covers, we will leave you with your dream vision and a feeling of accomplishment at the end of the day. </p>
            <p class="about-paragraph" id="signature">- Ben</p>
        </section>
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
    </body>
</html>