<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Precision Patio Covers</title>
        <meta name="description" content="Construction company based in Olympia, Washington providing quality patio covers, decks, sun rooms, pergolas, hand rails, and more.">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/contact.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="contact-section">
            <div id="contact-div">
                    <p>Call: <a href="tel:360-559-0261">(360) 559-0261</a></p>
                    <p>Email: <a href="mailto:precisionpatiocovers@gmail.com">PrecisionPatioCovers@gmail.com</a></p>
                    <p>Facebook: <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/">Precision Patio Covers</a></p>
            </div>
        </section>
        <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
    </body>
</html>