<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Precision Patios product page for patio covers containing many projects that can be viewed in more detail.">
        <title>Precision Patio Covers - Covers</title>
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/product.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="product"> 
            <h2>Covers</h2>
            <section id="cards">
                <div class="card">
                    <img src="https://i.gyazo.com/14af1e08f69203c22de30021cf835452.jpg">
                    <a href="covers/1"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/60b023df5b5bd53155f64b69c08164a9.jpg">
                    <a href="covers/2"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/5848c37807c10034772230dd236a9b87.jpg">
                    <a href="covers/3"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/1f92658414ba10b62337568ef6a28d77.jpg">
                    <a href="covers/4"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/c602d8b0266181351d8cb5b302a7422e.jpg">
                    <a href="covers/5"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/da39907171df992916410e4edaf9c657.jpg">
                    <a href="covers/6"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/699de48eb3d2b50cd9181d0af9702e7a.jpg">
                    <a href="covers/7"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/ffd4b921a40faca1fd7a2953431c2347.jpg">
                    <a href="covers/8"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/0e31b9ea22f39606e888053dba8d0d2f.jpg">
                    <a href="covers/9"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/55f254cea370c4de51d190315a5f2309.jpg">
                    <a href="covers/10"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/264b3cefe9fbfd6a94782a6a6bd80538.jpg">
                    <a href="covers/11"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/de40cf98e1022c5d85dd9cce239327af.jpg">
                    <a href="covers/12"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/0ea316708201f7e18930d09207cc284d.jpg">
                    <a href="covers/13"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/de52e3f440db5ca9530b75ae83f0c559.jpg">
                    <a href="covers/14"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/3a9cf30ae7ae79cb596d03cea603eda7.jpg">
                    <a href="covers/15"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/1414dd3a803aadc0905d6dd9f4b7c59e.jpg">
                    <a href="covers/16"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/5595e7c5204d3a2d8db3670656478611.jpg">
                    <a href="covers/17"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/9914057f68784b3b2fe616a7c9b1ec69.jpg">
                    <a href="covers/18"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/65a60e733ab1c4ad1a11aaa11f9caad0.jpg">
                    <a href="covers/19"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/49d76fac81f7e46fbf268ba40128b449.jpg">
                    <a href="covers/20"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/96a19e9758ec44243bcf6926f2e0bfe2.jpg">
                    <a href="covers/21"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/2313bfe576f88aa4d3700682f7ec758b.jpg">
                    <a href="covers/22"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/813ab680e5047ddb70fa6c21ec850e83.jpg">
                    <a href="covers/23"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/c201046fff8ea0cf6add2141fc9067c3.jpg">
                    <a href="covers/24"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/b1b8ea41a12cac6535a0bbbf3fd825f4.jpg">
                    <a href="covers/25"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/0f9e5c22be212baf89fcb4c1dc25744b.jpg">
                    <a href="covers/26"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/1b332c541a5113ae9fa2216c2d8ea130.jpg">
                    <a href="covers/27"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/e4b827b2e9afb27bff469ea0c153f404.jpg">
                    <a href="covers/28"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/775c8ff12d766fd57ab79a43f0d277aa.jpg">
                    <a href="covers/29"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/43a2aa69b65189282b522852373ee8f7.jpg">
                    <a href="covers/30"><button class="see-all">See all photos</button></a>
                </div>
            </section>
        </section>
        <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
    </body>
</html>