<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/product.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        
        <section id="product">
            
            <h3>Decks</h3>
            
            <section id="cards">
                
                <div class="card">
                    <img src="https://i.gyazo.com/3e5cd2de36da9c01af38993c71b036fa.jpg">
                    <a href="decks/1"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/f45fe53e6066c4caeeaf2134cf1ad0a3.jpg">
                    <a href="decks/2"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/1c04eb64deebde5b866aa4c32f41db3d.jpg">
                    <a href="decks/3"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/b3f1a5f980d1f0a7cfe66cdf2c45b52d.jpg">
                    <a href="decks/4"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/3eaaf5d944332fa133e52c876eea5f33.jpg">
                    <a href="decks/5"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/77cd81352e95e8c4e8acf9100c90156c.jpg">
                    <a href="decks/6"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/d59b6f4683ab224863ba24b93f1a7a54.jpg">
                    <a href="decks/7"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/6ec774cdf9a94f43c4961b0917e23ae8.jpg">
                    <a href="decks/8"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/bc1f23656adde2026c19c30f52291f0d.jpg">
                    <a href="decks/9"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/1bafb0dbb7dab684e7e84043a25b86cc.jpg">
                    <a href="decks/10"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/ae50ba5d4d2fcad6013f7c2851bd5d1e.jpg">
                    <a href="decks/11"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/00d277329ac8cdb5a3ecbd8f9599f45f.jpg">
                    <a href="decks/12"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/bd958b574d68f257583f78b35e16abfc.jpg">
                    <a href="decks/13"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/7b24e93f129d9d362bca5fc8b882ad77.jpg">
                    <a href="decks/14"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/d8a41fc3e0d4fc8ff32de1611cd6f28d.jpg">
                    <a href="decks/15"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/f9a0b26f56bc5efe16b811ec1b4c8243.jpg">
                    <a href="decks/16"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/4f99ca8939d2d4dfb429937d5635210d.jpg">
                    <a href="decks/17"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/20528244b67ead9a338580e182412cf0.jpg">
                    <a href="decks/18"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/a5bac1e39ce0e9a0e289dd9e6834c597.jpg">
                    <a href="decks/19"><button class="see-all">See all photos</button></a>
                </div>  
            </section>
        
            
        </section>
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
    </body>
</html>