<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Precision Patios product page for decks, handrails, and other projects that can be viewed in more detail.">
        <title>Precision Patio Covers - Decks</title>
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/product.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="product">
            <h2>Decks</h2>
            <section id="cards">
                <div class="card">
                    <picture>
                        <source srcset="img/decks/1/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/1/1-750w.jpg" alt="A white patio cover with 2 pillars over a deck.">
                    </picture>
                    <%# <p>2 images</p> %>
                    <a href="decks/1"><button class="see-all">See all photos (2)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/2/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/2/1-750w.jpg" alt="A white patio cover attached to a blue house.">
                    </picture>
                    <a href="decks/2"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/3/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/17/1-750w.jpg" alt="An isolated deck built on slanted terrain on a lake with a built in bench on the side closest to the lake.">
                    </picture>
                    <a href="decks/3"><button class="see-all">See all photos (3)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/4/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/4/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/4/1-750w.jpg" alt="A white patio cover and brown deck combo.">
                    </picture>
                    <a href="decks/4"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/5/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/5/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/5/1-750w.jpg" alt="A white patio cover built on a body of water.">
                    </picture>
                    <a href="decks/5"><button class="see-all">See all photos (3)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/6/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/6/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/6/1-750w.jpg" alt="A white patio cover and a brown trelace built on a built on a white house.">
                    </picture>
                    <a href="decks/6"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/7/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/7/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/7/1-750w.jpg" alt="A white patio cover on a third story patio.">
                    </picture>
                    <a href="decks/7"><button class="see-all">See all photos (2)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/8/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/8/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/8/1-750w.jpg" alt="A patio cover build in between two buildings.">
                    </picture>
                    <a href="decks/8"><button class="see-all">See all photos (7)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/9/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/9/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/9/1-750w.jpg" alt="A black hand rail built on a deck and stairs.">
                    </picture>
                    <a href="decks/9"><button class="see-all">See all photos (7)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/10/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/10/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/10/1-750w.jpg" alt="A second story deck cover.">
                    </picture>
                    <a href="decks/10"><button class="see-all">See all photos (9)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/11/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/11/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/11/1-750w.jpg" alt="A big deck with white hand rail and cover over a hot tub.">
                    </picture>
                    <a href="decks/11"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/12/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/12/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/12/1-750w.jpg" alt="A white cover built over a deck with three steps.">
                    </picture>
                    <a href="decks/12"><button class="see-all">See all photos (5)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/13/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/13/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/13/1-750w.jpg" alt="A smaller deck with a cover.">
                    </picture>
                    <a href="decks/13"><button class="see-all">See all photos (3)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/14/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/14/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/14/1-750w.jpg" alt="A deck built on slanted terrain with a cover, handrail, and stairs.">
                    </picture>
                    <a href="decks/14"><button class="see-all">See all photos (10)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/15/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/15/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/15/1-750w.jpg" alt="A deck with a built in bench and two sets of stairs, one narrow, and one wide.">
                    </picture>
                    <a href="decks/15"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/16/1-4000w" media="(min-width: 4001px)" />
                        <source srcset="img/decks/16/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/16/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/16/1-750w.jpg" alt="An elevated deck, handrail with glass panels, and stairs.">
                    </picture>
                    <a href="decks/16"><button class="see-all">See all photos (5)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/17/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/17/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/17/1-750w.jpg" alt="A deck on slanted terrain with a partial cover, handrail, and stairs.">
                    </picture>
                    <a href="decks/17"><button class="see-all">See all photos (1)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/decks/18/1-4000w.jpg" media="(min-width: 4001px)" />
                        <source srcset="img/decks/18/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/decks/18/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/decks/18/1-750w.jpg" alt="A long deck with white handrail, stair case, and two benches on either side of staircase.">
                    </picture>
                    <a href="decks/18"><button class="see-all">See all photos (3)</button></a>
                </div>
            </section>
        </section>
         <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
    </body>
</html>