<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Precision Patio Covers</title>
        <meta name="description" content="Construction company based in Olympia, Washington providing quality patio covers, decks, sun rooms, pergolas, hand rails, and more.">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="hero">
            <%# <img src="https://i.gyazo.com/80a93f0c4b80057ce3d689ef5f1490bd.jpg"> %>
            <video muted="true" autoplay="true" loop="true" playsinline="true">
                <source src="video/trailer.mp4" type="video/mp4">
            </video>
        </section>
        <section id="cards">
            <div class="card" id="decks-card">
                <h3>Decks</h3>
                <picture>
                    <source srcset="img/decks/deck-cover-photo-800w.jpg" media="(min-width: 1001px)" />
                    <img src="img/decks/deck-cover-photo-400w.jpg" alt="Big deck with white handrail.">
                </picture>
                <a href="/decks"><button class>View more</button></a>
            </div>
            <div class="card" id="sunrooms-card">
                <h3>Sun Rooms</h3>
                <picture>
                    <source srcset="img/sunrooms/sunrooms-main-photo-4000w.jpg" media="(min-width: 2001px)" />
                    <source srcset="img/sunrooms/sunrooms-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                    <img src="img/sunrooms/sunrooms-main-photo-1000w.jpg" alt="Aerial view of a sun room.">
                </picture>
                <a href="/sunrooms"><button>View more</button></a>
            </div>
            <div class="card" id="covers-card">
                <h3>Covers</h3>
                <picture>
                    <source srcset="img/covers/covers-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                    <img src="img/covers/covers-main-photo-1000w.jpg" alt="White cover with four pillars.">
                </picture>
                <a href="/covers"><button>View more</button></a>
            </div>
            <div class="card" id="pergolas-card">
                <h3>Pergolas</h3>
                <picture>
                    <source srcset="img/pergolas/pergolas-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                    <img src="img/pergolas/pergolas-main-photo-1000w.jpg" alt="Aerial view of two parallel pergolas">
                </picture>
                <a href="/pergolas"><button>View more</button></a>
            </div>
        </section>
        <% include ./partials/footer.ejs %>
        
        <script src="/javascript/navbar.js"></script>
    </body>
</html>