<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="hero">
            <%# <img src="https://i.gyazo.com/80a93f0c4b80057ce3d689ef5f1490bd.jpg"> %>
            <video muted="true" autoplay="true" loop="true">
                <source src="video/trailer.mp4" type="video/mp4">
            </video>
        </section>
        <section id="cards">
            <div class="card" id="decks-card">
                <h3>Decks</h3>
                <img src="https://i.gyazo.com/cf5eafb1a5d3e29c34578bf5d4517130.jpg">
                <a href="/decks"><button class>View more</button></a>
            </div>
            <div class="card" id="sunrooms-card">
                <h3>Sun Rooms</h3>
                <img src="https://i.gyazo.com/07ff181c00235aa76208dd25dde96e9a.jpg">
                <a href="/sunrooms"><button>View more</button></a>
            </div>
            <div class="card" id="covers-card">
                <h3>Covers</h3>
                <img src="https://i.gyazo.com/ca6c2675ff0b113796ca2c87a3522764.jpg">
                <a href="/covers"><button>View more</button></a>
            </div>
            <div class="card" id="pergolas-card">
                <h3>Pergolas</h3>
                <img src="https://i.gyazo.com/bc21e8da7d1a98c827e9ed3aeee6f62b.jpg">
                <a href="/pergolas"><button>View more</button></a>
            </div>
        </section>
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
    </body>
</html>