<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Precision Patio Covers</title>
        <meta name="description" content="Construction company based in Olympia, Washington providing quality patio covers, decks, sun rooms, pergolas, hand rails, and more.">
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/home.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="hero">
            <video id="trailer-video" muted="true" autoplay="true" loop="true" playsinline="true">
                <source id="trailer-source" src="video/trailer.mp4" type="video/mp4">
                    
            </video>
            <button id="last-video">&larr;</button>
            <button id="next-video">&rarr;</button>
        </section>
        <!-- <div id="action"> -->
            <!-- <button id="action-button">Contact Now</button> -->
        <!-- </div> -->
        <div id="badges">
            <div>
                    <div class="badge"><img src="https://chambermaster.blob.core.windows.net/images/chambers/9585/ChamberImages/logo/200x200/OMB-Logo_RGB.gif"></div>
                    <div id="fs-badge" class="badge"><img src="https://i.gyazo.com/021c0d22175490582d21239d25617854.png"></div>
                    <div class="badge"><img id="hearth-badge" src="https://i.gyazo.com/96f561a8154a2770b1e3fad2d94dc48c.png"></div>
                    <div id="bbb-badge" class="badge"><a href="https://www.bbb.org/us/wa/lacey/profile/sunroom-construction/precision-patio-covers-1296-1000082238/#sealclick" target="_blank" rel="nofollow"><img id="bbb-img" src="https://seal-hawaii.bbb.org/seals/blue-seal-200-42-bbb-1000082238.png" style="border: 0;" alt="Precision Patio Covers BBB Business Review" /></a></div>        
            </div>
        </div>
        <section id="cards">
            <div class="card" id="sunrooms-card">
                    <h3>Sun Rooms</h3>
                    <picture>
                        <source srcset="img/sunrooms/sunrooms-main-photo-4000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/sunrooms-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/sunrooms-main-photo-1000w.jpg" alt="Aerial view of a sun room.">
                    </picture>
                    <a href="/sunrooms"><button>View more</button></a>
                </div>
            <div class="card" id="decks-card">
                <h3>Decks</h3>
                <picture>
                    <source srcset="img/decks/deck-cover-photo-800w.jpg" media="(min-width: 1001px)" />
                    <img src="img/decks/deck-cover-photo-400w.jpg" alt="Big deck with white handrail.">
                </picture>
                <a href="/decks"><button>View more</button></a>
                <%# <button class="animated">View more</button> %>
            </div>
            <div class="card" id="covers-card">
                <h3>Covers</h3>
                <picture>
                    <source srcset="img/covers/covers-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                    <img src="img/covers/covers-main-photo-1000w.jpg" alt="White cover with four pillars.">
                </picture>
                <a href="/covers"><button>View more</button></a>
            </div>
            <div class="card" id="pergolas-card">
                <h3>Pergolas</h3>
                <picture>
                    <source srcset="img/pergolas/pergolas-main-photo-2000w.jpg" media="(min-width: 1001px)" />
                    <img src="img/pergolas/pergolas-main-photo-1000w.jpg" alt="Aerial view of two parallel pergolas">
                </picture>
                <a href="/pergolas"><button>View more</button></a>
            </div>
        </section>
        <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/videoslider.js"></script>
        <script src="https://ombwa.memberzone.com/Content/Script/Member.js" type="text/javascript"></script>
    <script type="text/javascript">
    new MNI.Widgets.Member("mni-membership-637052215150616722",{member:99104,styleTemplate:"#@id{text-align:center;position:relative}#@id .mn-widget-member-name{font-weight:700}#@id .mn-widget-member-logo{max-width:100%}"}).create();
    </script>
    </body>
</html>