<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Precision Patios product page for sun rooms containing many projects that can be viewed in more detail.">
        <title>Precision Patio Covers - Sunrooms</title>
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/product.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="product">
            <h2>Sun Rooms</h2>
            <section id="cards">
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/1/1-4000w.jpg" media="(min-width: 4001px)" />
                        <source srcset="img/sunrooms/1/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/1/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/1/1-750w.jpg" alt="Aerial gopro image of a sun room from above with sun shining on roof."> 
                    </picture>
                    <a href="sunrooms/1"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/2/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/2/1-750w.jpg" alt="An elevated sun room with stairs."> 
                    </picture>
                    <a href="sunrooms/2"><button class="see-all">See all photos (6)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/3/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/3/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/3/1-750w.jpg" alt="A second story sun room over a deck."> 
                    </picture>
                    <a href="sunrooms/3"><button class="see-all">See all photos (6)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/4/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/4/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/4/1-750w.jpg" alt="A medium sized sun room built onto a back deck."> 
                    </picture>
                    <a href="sunrooms/4"><button class="see-all">See all photos (4)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/5/1-3000w.jpg" media="(min-width: 3001px)" />
                        <source srcset="img/sunrooms/5/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/5/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/5/1-750w.jpg" alt="A small sun room replacing a back porch."> 
                    </picture>
                    <a href="sunrooms/5"><button class="see-all">See all photos (10)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/6/1-3000w.jpg" media="(min-width: 3001px)" />
                        <source srcset="img/sunrooms/6/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/6/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/6/1-750w.jpg" alt="A sun room built on top of a back patio."> 
                    </picture>
                    <a href="sunrooms/6"><button class="see-all">See all photos (8)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/7/1-4000w.jpg" media="(min-width: 3001px)" />
                        <source srcset="img/sunrooms/7/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/7/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/7/1-750w.jpg" alt="A very long sun room built on a second story."> 
                    </picture>
                    <a href="sunrooms/7"><button class="see-all">See all photos (11)</button></a>
                </div>
                <div class="card">
                    <picture>
                        <source srcset="img/sunrooms/8/1-2000w.jpg" media="(min-width: 2001px)" />
                        <source srcset="img/sunrooms/8/1-1000w.jpg" media="(min-width: 1001px)" />
                        <img src="img/sunrooms/8/1-750w.jpg" alt="A small sun room built at the end of a deck."> 
                    </picture>
                    <a href="sunrooms/8"><button class="see-all">See all photos (11)</button></a>
                </div>
            </section>
        </section>
         <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
    </body>
</html>