<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Precision Patios product page for sun rooms containing many projects that can be viewed in more detail.">
        <title>Precision Patio Covers - Sunrooms</title>
        <link rel="stylesheet" href="stylesheets/nav-banner.css">
        <link rel="stylesheet" href="stylesheets/product.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
    </head>
    <body>
        <% include ./partials/nav %>
        <section id="product">
            <h2>Sun Rooms</h2>
            <section id="cards">
                <div class="card">
                    <img src="https://i.gyazo.com/07ff181c00235aa76208dd25dde96e9a.jpg">
                    <a href="sunrooms/1"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/decd385241a18fb1fc0485d497fda789.jpg">
                    <a href="sunrooms/2"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/a0a3e62dcf02e279c8d1718dc815ca23.jpg">
                    <a href="sunrooms/3"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/0ebd5877d4c7acea5e04fe081a2d021d.jpg">
                    <a href="sunrooms/4"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/c5caf58b39f91136b0b6cb85bbc908aa.jpg">
                    <a href="sunrooms/5"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/0e41e1cbd27cf5a332ab2570eae8ed62.jpg">
                    <a href="sunrooms/6"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/e14c415e54c1b04570d63dc1904c3922.jpg">
                    <a href="sunrooms/7"><button class="see-all">See all photos</button></a>
                </div>
                <div class="card">
                    <img src="https://i.gyazo.com/89d759bbf35eb90bb03d1c4bdac6454d.jpg">
                    <a href="sunrooms/8"><button class="see-all">See all photos</button></a>
                </div>
            </section>
        </section>
         <% include ./partials/footer.ejs %>
        <script src="/javascript/navbar.js"></script>
    </body>
</html>