<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="../covers">Back</a>
                <a id="next-link" href="2">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/14af1e08f69203c22de30021cf835452.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/14af1e08f69203c22de30021cf835452.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0b7dbe4e6725759c1d8c2b80f2c28355.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5fe0bbda9c13bbe6164cba299217e526.jpg">
            </div>
        </section>
        
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>