<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="1">Back</a>
                <a id="next-link" href="3">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/60b023df5b5bd53155f64b69c08164a9.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/60b023df5b5bd53155f64b69c08164a9.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/3ea5e25c251a45f10953975aff9ae804.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>