<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 20</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="19">Back</a>
                <a id="next-link" href="21">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/49d76fac81f7e46fbf268ba40128b449.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/49d76fac81f7e46fbf268ba40128b449.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>