<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 22</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="21">Back</a>
                <a id="next-link" href="23">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/2313bfe576f88aa4d3700682f7ec758b.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/2313bfe576f88aa4d3700682f7ec758b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/55c3a8b2314ffba689ade1d11c108849.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/7b14a6d79eb0df4884e8d3046e703f24.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d2e57db5edac4c39f938231693058205.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d4f3d1b4a97eba89c9be9e3a31687f9d.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>