<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 22</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="21">Back</a>
                <a id="next-link" href="23">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/2313bfe576f88aa4d3700682f7ec758b.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/2313bfe576f88aa4d3700682f7ec758b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/55c3a8b2314ffba689ade1d11c108849.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/7b14a6d79eb0df4884e8d3046e703f24.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d2e57db5edac4c39f938231693058205.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d4f3d1b4a97eba89c9be9e3a31687f9d.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>