<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 23</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="22">Back</a>
                <a id="next-link" href="24">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/813ab680e5047ddb70fa6c21ec850e83.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/813ab680e5047ddb70fa6c21ec850e83.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/204d0736bc605124c57e29839c07bc92.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/57000f26992d3afce3fffcd2b7f68d59.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f9ee8e6e738376ee112c36da30a93964.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/fad0d8c50f4f59bf3251f9eb56e972cd.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/98b10bec689ae590cb3fbaade5f5035d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/78e8f38de790270da0d36b15e5a47de8.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>