<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 24</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="23">Back</a>
                <a id="next-link" href="25">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/c201046fff8ea0cf6add2141fc9067c3.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/c201046fff8ea0cf6add2141fc9067c3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/23b2a8a332f7bacdf178fba8135e0491.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1198e26601e13e944f82d4475b8031ed.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>