<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 25</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="24">Back</a>
                <a id="next-link" href="26">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/b1b8ea41a12cac6535a0bbbf3fd825f4.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/b1b8ea41a12cac6535a0bbbf3fd825f4.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1efa1b9ac89fa7eac0505b9fa3278429.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d2b2abe6bd9e88997e3115bd572a253f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/79ae16d6a7ef4b63d13a4e154e002b0e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ba4f4306d6eb35c6d51ba5f290f00f21.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c0ef2abd7943cad07c58c1ed2eb2257f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d5a630a6d9890e1f84beb65d0a4d5896.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/79450563c0db337d4b1fbf19a22463de.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/a516ee932d5d2bf892084977fdb62d6a.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/821967d1856f9ebddb7b1ab20f57e806.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/2005c72110a2e60a358781296be20dd3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0313b4ba3f535381ec92173543d67fa4.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/8fe49f13934638114fa97c80d82acb3c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/077abe9d15a3b50ac4975c9b582f87c4.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/4fccb56023448446211f59d6b54cebae.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/10fa9da8fb815cd77a60911443f117be.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/fffa1eeae359cdbf3aa2520be7e2467c.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>