<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 26</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="25">Back</a>
                <a id="next-link" href="27">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/0f9e5c22be212baf89fcb4c1dc25744b.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/0f9e5c22be212baf89fcb4c1dc25744b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ed8d34b329b68fa39872a796849a24e2.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c6fcc54568dfcfd414ebcd9a6731dc87.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>