<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 27</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="26">Back</a>
                <a id="next-link" href="28">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/1b332c541a5113ae9fa2216c2d8ea130.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/1b332c541a5113ae9fa2216c2d8ea130.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/30ab94f792fc0f3b21e54a32dcbb36f2.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/20ece3b2319fbddde11fca91cd82531c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/fee6a724cbc594b8d7cc4dd522693bfb.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>