<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 28</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="27">Back</a>
                <a id="next-link" href="29">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/e4b827b2e9afb27bff469ea0c153f404.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/e4b827b2e9afb27bff469ea0c153f404.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f85d3f80e6fae52fcfc1cb5da72a267d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/3b691cfbdf51a31ebf318187d51b33be.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/331d3eac4bbf805c64dac935045a51bd.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>