<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 29</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="28">Back</a>
                <a id="next-link" href="30">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/775c8ff12d766fd57ab79a43f0d277aa.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/775c8ff12d766fd57ab79a43f0d277aa.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/85adc56b0fb72ffa7d8dc729a30759aa.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>