<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 3</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="2">Back</a>
                <a id="next-link" href="4">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/5848c37807c10034772230dd236a9b87.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/5848c37807c10034772230dd236a9b87.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/b29d3c5d5a2a271734c43d0381a0ae5e.jpg">
            </div>
        </section>
        
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>