<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 30</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="29">Back</a>
                <a id="next-link-inactive" href="#">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/43a2aa69b65189282b522852373ee8f7.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/43a2aa69b65189282b522852373ee8f7.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/aeb36743a1cf84b64fca7a39278f1c7a.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ac0efe5474023527d342e510f649ac66.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>