<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Covers - 4</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="3">Back</a>
                <a id="next-link" href="5">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/1f92658414ba10b62337568ef6a28d77.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/1f92658414ba10b62337568ef6a28d77.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/fd6abea5d14eecb8c514d1f0a24d63ea.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/94eec3f17cc74d0409c1afae7712f8f1.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>