<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Pergolas - 1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="../pergolas">Back</a>
                <a id="next-link" href="2">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/bc21e8da7d1a98c827e9ed3aeee6f62b.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/bc21e8da7d1a98c827e9ed3aeee6f62b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/25703e28450729517cf8fb271f24af22.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1d305322f7822b28783e6aea2b55b634.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/14df9f8a81cd92ec98060de7b58ff386.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1ad6154a379c4316b0c3efd6617a7132.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/de8c5404d901b139c8408c25f42e0772.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d4b48317e725161874fe0a5ff85840bd.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6a6f57c41338c09241100e601d1373f3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5acfe8245920cd66499d3771a970be7e.jpg">
                <img class="thumbnail" src="../img/pergolas/1/10.jpg">
                <img class="thumbnail" src="../img/pergolas/1/11.jpg">
                <img class="thumbnail" src="../img/pergolas/1/12.jpg">
                <img class="thumbnail" src="../img/pergolas/1/13.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>