<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Pergolas - 2</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="1">Back</a>
                <a id="next-link-inactive" href="#">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/577aa7e6eb28c8f2ef20fa09b00bb342.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/577aa7e6eb28c8f2ef20fa09b00bb342.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/7937b32f6411340f31aec55950767e28.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/9c0c8ce2bf140bcb25e0d3190b0d0ccf.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/54345f58a7fc7983633694110f6ca546.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e177214362fa36ec64f88e466b8b65ff.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/41c620f2c36be5a3754fe64971c86d3e.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>