<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="../decks">Back</a>
                <a id="next-link" href="2">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/3e5cd2de36da9c01af38993c71b036fa.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/3e5cd2de36da9c01af38993c71b036fa.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/01a36375f43e2acb025b0e129a34f9e3.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>