<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 11</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="10">Back</a>
                <a id="next-link" href="12">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/ae50ba5d4d2fcad6013f7c2851bd5d1e.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/ae50ba5d4d2fcad6013f7c2851bd5d1e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/4cf14a988884c764a85faef79d95d1a6.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1f918f9caa30a47b7261cd3690ab6458.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/fe3b2eb6081f243100a6819db13d04a3.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>