<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 12</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="11">Back</a>
                <a id="next-link" href="13">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/00d277329ac8cdb5a3ecbd8f9599f45f.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/00d277329ac8cdb5a3ecbd8f9599f45f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e8968e966c28d6f93de9521b45be5678.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f6ce35f1d9167f006f64983770669a62.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/65167e41d85868152e870cdd422da667.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ac80505f2931faca12324fa97de66413.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>