<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 12</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="11">Back</a>
                <a id="next-link" href="13">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/00d277329ac8cdb5a3ecbd8f9599f45f.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/00d277329ac8cdb5a3ecbd8f9599f45f.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e8968e966c28d6f93de9521b45be5678.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f6ce35f1d9167f006f64983770669a62.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/65167e41d85868152e870cdd422da667.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ac80505f2931faca12324fa97de66413.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>