<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 13</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="12">Back</a>
                <a id="next-link" href="14">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/bd958b574d68f257583f78b35e16abfc.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/bd958b574d68f257583f78b35e16abfc.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/6b903ed11ed7738b542239d013e359ec.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/78340586f4d43ca0b17b995d7eab1a7a.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>