<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 14</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="13">Back</a>
                <a id="next-link" href="15">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/7b24e93f129d9d362bca5fc8b882ad77.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/7b24e93f129d9d362bca5fc8b882ad77.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/3463334d2fe6dee2982ff4de0cb244ae.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/a963822f3a4e0f5399f550be913cdd4a.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ac6ae97a1ec5cd86dce4ee4d05852306.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0088ba1d68fc95d8ebde56db42139420.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/bbe916ca4aa16352d286db4d9540256a.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/aecf54b115915aad6b81f397df5f16ac.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/a021b80c64827ba75b6de8bede8aa6a4.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c5fe20739f4dc2d7029bba30f3cf20c3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/db300ae4d6d7ad07ad149c42523bc62f.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>