<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 15</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="14">Back</a>
                <a id="next-link" href="16">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/d8a41fc3e0d4fc8ff32de1611cd6f28d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/d8a41fc3e0d4fc8ff32de1611cd6f28d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ec809a1b9f879c6267d3d1cf998167aa.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/90a9ad7de8d183a3b681b9c268dba71e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/cae9240e2d662d9c8f75c341c9d9ac67.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>