<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 15</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="14">Back</a>
                <a id="next-link" href="16">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/d8a41fc3e0d4fc8ff32de1611cd6f28d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/d8a41fc3e0d4fc8ff32de1611cd6f28d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ec809a1b9f879c6267d3d1cf998167aa.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/90a9ad7de8d183a3b681b9c268dba71e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/cae9240e2d662d9c8f75c341c9d9ac67.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>