<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 16</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="15">Back</a>
                <a id="next-link" href="17">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/f9a0b26f56bc5efe16b811ec1b4c8243.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/f9a0b26f56bc5efe16b811ec1b4c8243.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ed22ebb4edda23d12910ab3d858a1557.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d90d0963be4cb8a7b62104c16489d9fe.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/00ac31fadfbb0d2537829a53233fe067.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ea72e59e188897150dcb730e981d5fd0.jpg">
            </div>
        </section>
        
        
        <footer>
            <p>Precision Patio Covers</p>
            <p>Olympia, WA</p>
            <p>(360) 559-0261</p>
            <a href="https://www.facebook.com/Precision-Patio-Covers-Sunrooms-906880979472597/"><img src="https://i.gyazo.com/bb57d08656b5c8707ce395c8c04fd8a6.png"></a>
            <a href="https://www.instagram.com/precision_patio_covers/"><img src="https://i.gyazo.com/ccf92f7ee64d88b6f81807618f4b6086.png"></a>
            <p>&copy;2018-2019 Precision Patio Covers</p>
        </footer>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>