<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 3</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="2">Back</a>
                <a id="next-link" href="4">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/1c04eb64deebde5b866aa4c32f41db3d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/1c04eb64deebde5b866aa4c32f41db3d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/de5cfbffc60a40b9bc37f25c019afbb1.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/4f99ca8939d2d4dfb429937d5635210d.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>