<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 4</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="3">Back</a>
                <a id="next-link" href="5">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/b3f1a5f980d1f0a7cfe66cdf2c45b52d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/b3f1a5f980d1f0a7cfe66cdf2c45b52d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/d751a98c19a4df714c3fb29112d3ce0e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/370cb50d1ad7bd0e538b0d503ac1cbe2.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/b686887cc6929417f1c0170e62c896b8.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>