<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 5</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="4">Back</a>
                <a id="next-link" href="6">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/3eaaf5d944332fa133e52c876eea5f33.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/3eaaf5d944332fa133e52c876eea5f33.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/bb0e7981932848d0e3ea3693001e7bc3.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/c27d98dfd2108ff1f2e31475a6d2f09e.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>