<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 6</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="5">Back</a>
                <a id="next-link" href="7">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/77cd81352e95e8c4e8acf9100c90156c.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/77cd81352e95e8c4e8acf9100c90156c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ad3bb7c3b6dc672673eb1eb13d624389.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e9aa6c42f7fb98360404023478bb507e.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/b1a2f07968f43c971a6593367bfffe12.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>