<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 7</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="6">Back</a>
                <a id="next-link" href="8">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/d59b6f4683ab224863ba24b93f1a7a54.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/d59b6f4683ab224863ba24b93f1a7a54.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5b7e378f46b3be252a541d245365478c.jpg">
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>