<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 8</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="7">Back</a>
                <a id="next-link" href="9">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/6ec774cdf9a94f43c4961b0917e23ae8.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/6ec774cdf9a94f43c4961b0917e23ae8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0064747b22b6bd1b1af8926b37584536.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/ac4592da85cf9de966b66ce9ec72d68d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/b5cdcb5052bd30748474ad009b510e4c.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/f59148b8f208fe0458907bc6f974b91b.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/cdb39822c7cfa342089cce5b43af9fd9.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/0693a5a2b2b558604a55a6ab3910dd25.jpg">
                
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>