<!DOCTYPE html>
<html>
    <head>
        <title>Precision Patio Covers - Decks - 9</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../stylesheets/nav-banner.css">
        <link rel="stylesheet" href="../stylesheets/footer.css">
        <link rel="stylesheet" href="../stylesheets/showcase.css">
    </head>
    <body>
        <% include ../partials/nav %>
        
        <section id="image-gallery">
            <div id="gallery-links">
                <a id="back-link" href="8">Back</a>
                <a id="next-link" href="10">Next</a> 
            </div>
            
            
            <img id="main-image" src="https://i.gyazo.com/bc1f23656adde2026c19c30f52291f0d.jpg">
            
            <div id="thumbnails">
                <img class="thumbnail" src="https://i.gyazo.com/bc1f23656adde2026c19c30f52291f0d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/11a3544bd7f1b229e5ab0caf53254708.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/cfb12d1543602b6230f87e3e0d42b0e8.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/7117b957d546169206f79c4422e309bf.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/1fffcd45124545e032e2282be292115d.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/5d348f59dc9984d106e44937885024e6.jpg">
                <img class="thumbnail" src="https://i.gyazo.com/e78c90231a8f42d99d248b5584dda143.jpg">
                
            </div>
        </section>
        
        <% include ../partials/footer %>
        
        <script src="/javascript/navbar.js"></script>
        <script src="/javascript/showcase.js"></script>
    </body>
</html>